body {
  margin: 0 auto;
  width: 1000px;
  font-family: Arial;
  text-align: center;
}

h2 {
  text-align: center;
}

#logo {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
}

.button{
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0 15px;
  border: 0;
}

#signup-button {
  background: green;
}

.button:hover, #signup-button:hover{
  background: #333333;
}

/* Write article form*/
#article-form input[type=text] {
  width: 300px;
}

textarea {
  width: 800px;
  height: 400px;
}

input ,textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  border: 2px solid #777777;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  font-family: Arial;
  font-size: 16px;
  margin: 10px auto;
  display: block;
}

input:focus, textarea:focus {
  border: 2px solid #3498db;
}

.input-error, .input-error:focus {
  border-color: red;
}

#article-form-box {
  display: block;
  background: #a2a2a2;
  margin: 10px;
  height: 0px;
}

#article-form {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1.5s;
}

/* Article list */
.article-item a {
  color: #333333;
  font-size: 20px;
  background: #e2e2e2;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  display: block;
  margin: 10px;

}

.article-item a:hover {
  background: #333333;
  color: #f2f2f2;
  text-decoration: none;
}

#article {
    background: #e2e2e2;
    color: #333333;
    padding: 40px;
}

.comment {
    background: #e2e2e2;
    color: #333333;
    padding: 5px;
    margin: 2px 40px;
    text-align: left;
}

.comment-button {
    font-size: 14px;
    padding: 3px 10px;
    margin-bottom: 5px;
    float: right;
}

.comment-form-box {
  display: block;
  background: #a2a2a2;
  margin: 2px 40px;
  height: 0px;
}

.comment-form {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1.5s;
}

.comment-form-box textarea {
    width: 800px;
    height: 100px;
}

.comment-form-box .button {
    font-size: 14px;
    padding: 8px 16px;
}