{% extends "articles/base.html" %}
{% block title %}Article List{% endblock %}
{% block body %}
<h2>
{{ article.title }}
</h2>
<p>
{{ article.publish_date }}
{% if article.author %}
    | {{ article.author.username }}
    | {{ article.view_count }} Views
{% endif %}
</p>
<p id="article">
{{ article.content }}
</p>
<h4>Comments</h4>
<div>
{% for comment in comments %}
    <div class="comment" id="{{ comment.path }}" style="margin-left:{% widthratio comment.level 1 40 %}px;">
        {{ comment.content }} <br />
        <a onclick="toggleCommentForm(this)" href="#" class="button comment-button">Comment</a>
        ({{ comment.path }} - {{ comment.author.username }})
    </div>
    <div class="comment-form-box" id="comment-{{ comment.path }}">
        <form class="comment-form" id="comment-form-{{ comment.path }}" method="post" action="{% url 'articles:comment' %}">
        <input type="hidden" name="path" value="{{ comment.path }}" />
        <input type="hidden" name="article_id" value="{{ article.id }}" />
        {% csrf_token %}
        <textarea name="content" placeholder="Comment"></textarea>
        <a onclick="document.getElementById('comment-form-{{ comment.path }}').submit();" class="button" href="#">Comment</a>
        </form>
    </div>
{% endfor %}
</div>
{% endblock %}