{% extends "articles/base.html" %}
{% block title %}Article List{% endblock %}
{% block body %}
<h2>
{{ article.title }}
</h2>
<p>
{{ article.publish_date }}
{% if article.author %}
    | {{ article.author.username }}
    | {{ article.view_count }} Views
{% endif %}
</p>
<p id="article">
{{ article.content }}
</p>
<h4>Comments</h4>
<div>
{% for comment in comments %}
    <div class="comment">
        {{ comment.content }} <br />
        ({{ comment.author.username }})
    </div>
{% endfor %}
</div>
{% endblock %}