{% extends "articles/base.html" %}
{% block title %}Article List{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<a onclick="toggleArticleForm()" href="#" class="button">Write an article</a>
{% else %}
<a href="/login/" class="button">Login</a>
Or
<a href="/signup/" class="button" id="signup-button">Signup</a>
{% endif %}
<div id="article-form-box">
<form id="article-form" method="post" action="{% url 'articles:publish' %}">
{% csrf_token %}
{{ article_form }}
<a onclick="document.getElementById('article-form').submit();" class="button" href="#">Publish</a>
</form>
</div>

{% for article in articles %}
    <div class="article-item"><a href="{% url 'articles:article' article.id %}">{{ article.title }}</a></div>
{% endfor %}
{% endblock %}