{% extends "articles/base.html" %}

{% block title %}Login{% endblock %}
{% block body %}
<h2>
<a href="{% url 'social:begin' 'google-oauth2' %}">Signup with Google</a>
</h2>
Or
<form id="signup-form" method="post" action="" onsubmit="return isSignupFormValid()">
{% csrf_token %}
<input type="text" name="username" placeholder="Username" oninput="isUsernameExist(this.value)" autofocus />
<input type="password" name="password1" placeholder="Password" />
<input type="password" name="password2" placeholder="Password Confirmation" oninput="isSignupFormValid()"/>
<input type="submit" name="signup" value="Signup" />
</form>
{% endblock %}